
@{
    ViewBag.Title = "ChangePassword";
}



<style>
    /*eye icon on password field*/
    .field-icon {
        float: right;
        margin-right: 8px;
        margin-top: -29px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>


<form id="myfrm">
    <div class="col-md-8">
        <!-- row -->
        <div class="profile-form">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input required="" id="CurrentPassword" type="password" value="" class="form-control password" name="">
                        <span toggle="#CurrentPassword" class="fa fa-lg fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input required="" id="NewPassword" type="password" value="" class="form-control password" name="">
                        <span toggle="#NewPassword" class="fa fa-lg fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input required="" id="ConfirmPassword" type="password" value="" class="form-control password" name="">
                        <span toggle="#ConfirmPassword" class="fa fa-lg fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="separator"></div>
                    <div class="form-group">
                        <label id="ErrorMessage" style="color: red;"></label>
                    </div>
                    <div class="buttons-group text-center mt-4">
                        <a href="~/User/UserManagement" class="btn mr-2">Cancel</a>
                        <button type="button" onclick="dataAccess.changePasswordService.updatePassword()" class="btn flat-btn ml-2">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>



<script>

    $(".toggle-password").click(function () {
        debugger;
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });


</script>