@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about-nav mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                <h2>contact us</h2>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="top-right mt-0">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="icon-nav">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="23">
                                <image width="23" height="23" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAQAAABKIxwrAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflAgkQOg5Tomx1AAABaklEQVQ4y42TvUvCURSGXwslJVqCioIiXEyQCFqMiijIKUiQmhqCpgIHoaVG98ChraL+AzdpaGj6bRZFFG6GkEkWVgYO+jT4gVbePHe5h/Occ89777limyJ1eyWITMtGUQe6UNU2NKMJmQwINLJDFM3Vu/Su3kbus1xymop3KauxhpeWNGnGH5q6fdST5sz4lfxN/vV/UueBwZqUZcqETFKFnRfCCDFMjiPzzQhxSBLRzSW3OP/HvVQIMEKFTTNcxUUcCxtnpOjpBPdQYotB8sQ6wUWUAm6CYG6ovrFjkcTFPuWWhBDHRJjG0YqLUTIkcLAHxOhBODmizDlZAD64YaX5KB9vJHCxSp4Um9ySYwkhxllkjRNeW3vzkSGJmwFOqXDJcEt0gV9iRrEosIWNEbp/xP7AhZ0oJaymT2PEq+8Qp0KScGP4ariNdqPq1Y7W1a87WbpXWp+aVaQ9Lkl2+bWoKXk0pD59afcbUPHO8q6OqhQAAAAASUVORK5CYII=" />
                            </svg>
                        </div>
                        <h2>Call us anytime</h2>
                        <p>
                            <a href="tel:415 555 1234">415 555 1234</a>
                        </p>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="icon-nav">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="18">
                                <image width="24" height="18" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAQAAADr5dYVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflAwgNAjL6cNL/AAAA30lEQVQoz53TvU5CQRTE8bmQUJDY2vgwFjYWRBNbrU1ILDBS0FNb09JQmGijlsYXkVaCPgIJ+Vn4BRdyQc9Wm51/9uyZ2WiZ2Lamjgtv2c1rriPVVeQqe3kPXjBQSMUqDDAm6OhhpL5B3tf5BlKJ1A3Rk0UgLnGjsUY++pKXgGjjvoQsyleAVeRT3v3ZrwBxZu5JU0TDHdoLpx1qpWnvpJaDPKaZRm5zssaPpRu6GDk18+wBF9Ut/Y72yMzcefWjl53Yd1g91h6G2xvX35CmUjTGfwnfP+J9bLr1B5pofQB/IwR1xy6VoAAAAABJRU5ErkJggg==" />
                            </svg>
                        </div>
                        <h2>Send us a mail</h2>
                        <p>
                            <a href="mailto:mail@domain.com">mail@domain.com</a>
                        </p>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="icon-nav">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="24">
                                <image width="17" height="24" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAYCAQAAAC2a965AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflAwgMOxe+MuE1AAABiklEQVQoz3XSMUjUYRzG8ecOIQPxQkSoPQNpUGh1CBrFOYigwSEEF2kQXBpapLokCRobIqPB8cZCTywjGqNASBoC4ZJDXIq7Pg33Pz0Pet/lx+/9/t735XmeSLFHLNlxiEM7lox0T7rAvKa2LSvuWbGlrWm+F1lDzfjJjTGuhrUusoAnSj1ARMkqFiRGNdUKYNaGjzbMFlBN02gsa7ssYhV7NuxhtXiubTl2bYmYwSNlUfYYMyLqdqNpRcS6fQPFPwb8sC7ioWY5lfxKklzM17TSWa18yaUkSSOVco4zliTZz2QGC+R8pvI9STKW49j2QcQ0XhkSQ15jWsSu7VjElOhURz47wqKIKSzGsIZ3hS6Tqt6oFiPxVkMlYg53+rSNuIm7HQNK6hpG+4BhP31S7to44Y8XfUjVX9d6w/AA13uAq1qen83LoD3fnDtxeVOjG6rTuRu4X9S3MdefuoiXfrsiKg68P81PLzLm0KaSp9onyvQhHYWqWp71dvvDWMeBC/9HYsKRW2d7/wC2aunHhb+MvAAAAABJRU5ErkJggg==" />
                            </svg>
                        </div>
                        <h2>Your Adress</h2>
                        <p>Washington DC 1234</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-9">
            <div class="contact-nav">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="email" class="form-control filed1" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control filed1" placeholder="Phone">
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control filed1" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control filed2" placeholder="Email" rows="3"></textarea>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary submit-b mt-4" href="#" role="button">SUBMIT</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="container mt-5 pt-3">
    <div class="row mt-5">
        <img src="~/Content/images/contact.jpg">
    </div>
</section>
<script>

    $(function () {
        $('.Contact').addClass('active');
    });
</script>