
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
</head>
<body>
    <style>
        .LogoText {
            line-height: 12px;
        }
        .LogoText1 {
            line-height: 7px;
        }
        .TblHeader tr td{
            padding:10px;
        }
    </style>
    <div style="padding:10px;">
        <table width="100%">
            <tr>
                <td style="width: 200px;">
                    <img style="width:187px;height: 118px;" src="https://cdn-skill.splashmath.com/panel-uploads/GlossaryTerm/d9086261ab3549afac19d6a770f16c3d/1564544795_parallelogram.png" />
                </td>
                <td>
                    <p class="LogoText">Name</p>
                    <p class="LogoText">Address</p>
                    <p class="LogoText">State</p>
                    <p class="LogoText">Email</p>
                </td>
                <td>
                    <p>d sdf</p>
                </td>
            </tr>
        </table>
        <div style="border"></div>
        <div>
            <table class="TblHeader">
                <tr>
                    <td style="border: 0px solid;min-width:150px">
                        <p class="LogoText1">Bill TO</p>
                        <p class="LogoText1">Battery Hookup</p>
                        <p class="LogoText1">State</p>
                        <p class="LogoText1">Email</p>
                    </td>
                    <td style="border: 0px solid;min-width: 150px">
                        <p class="LogoText1">Bill TO</p>
                        <p class="LogoText1">Battery Hookup</p>
                        <p class="LogoText1">State</p>
                        <p class="LogoText1">Email</p>
                    </td>
                    <td style="width:600px">
                    </td>
                    <td style="min-width: 110px; border: 1px solid">
                        <p class="LogoText1" style="text-align:center">Date</p>
                        <p class="LogoText1" style="text-align:center">Address</p>
                    </td>
                    <td style="min-width: 110px; border: 1px solid;">
                        <p class="LogoText1" style="text-align:center">Please Pay</p>
                        <p class="LogoText1" style="text-align:center">Address</p>
                    </td>
                    <td style=" min-width: 110px; border: 1px solid">
                        <p class="LogoText1" style="text-align:center">Due Date</p>
                        <p class="LogoText1" style="text-align:center">Address</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
