
@{
    ViewBag.Title = "RecoverPassword";
}


<section class="about-nav mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 login-modal">
                <h2>Recover Password</h2>
                <form id="UpdatePasswordForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group mb-4 mt-5">
                        <label>Password</label>
                        <input type="password" id="password-field1" class="form-control" name="Password"> <span toggle="#password-field1" class=" pr-5 far fa-fw field-icon toggle-password fa-eye"></span>
                        <!-- <i class="far fa-envelope field_icon"></i> -->
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" id="password-field2" class="form-control" name="ConfirmPassword"> <span toggle="#password-field2" class=" pr-5 far fa-fw field-icon toggle-password fa-eye"></span>
                    </div>
                    <div class="mx-auto">
                        <input type="hidden" name="SecuredKey" value="@Url.RequestContext.RouteData.Values["id"]" />
                        <center><input type="submit" class="btn btn-primary log-b pe-5  ps-5 pt-2 pb-2 mb-4 mt-4" style="border-radius: 6px;" value="Submit" /></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).on('submit', "#UpdatePasswordForm", function (e) {
        debugger
        e.preventDefault();
        
        if ($('[name= Password]').val() != $('[name= ConfirmPassword]').val()) {
            toastr["info"]("Password & confirm password must be matched")
        } else {
            $.post("/Home/UpdatePassword", $('#UpdatePasswordForm').serialize()).done(function (resp) {
                if (resp.isSuccess) {
                    window.location.href = '/Home/Index';
                }
                else {
                    toastr["error"](resp.msg)
                }

            }).fail(function (data) {
                console.log(data)
            });
        }
    })

</script>